<%- include('./header.ejs') %> 

<div class="container mt-5 pt-5">

    <div class="row">
        <div class="col-md-12 m-auto">
            <form action="/blog-details" method="GET">
            <div class="card">
                <div class="card-header">
                   
                    <h5 class="card-title"><%=result[0].name %> </h5>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <img src="..\<%=result[0].imgURl %>" class="card-img-top" alt="..." style="width: 250px;height: 250px;float: right;">
                        <p><%=result[0].description %></p>
                        <footer class="blockquote-footer">2 days ago</footer>
                    </blockquote>
                </div>
            </div>
            </form>
        </div>

    </div>
</div>

<%- include('./footer.ejs') %> 

