<%- include('./header.ejs') %> 


<div class="container mt-5 pt-3">
    <div class="row">
        <div class="col-md-8 m-auto">
        <form  action="/updateProduct/<%= result[0].id %>" method="POST" class="form"  enctype="multipart/form-data">
          <label for="exampleFormControlInput1">name</label>
        <input value="<%=result[0].name%>"  placeholder="" class="form-control" name="name" type="text">
        <label for="exampleFormControlInput1">dec</label>
        <input value="<%=result[0].description%>"  placeholder="" class="form-control my-3" name="description" type="text">
        <label for="exampleFormControlInput1">Artical Image</label>
        <input type="file" name="img" class="form-control my-4" >
      <button class="btn btn-success w-100 mt-3" >update</button>
      </form>
        </div>
    </div>
</div>


<%- include('./footer.ejs') %> 