<%- include('./header.ejs') %> 



<div class="container mt-5">

    <div class="row">
        <% for( let i = 0; i < result.length; i++ ) { %>
        
        
        <div class="col-md-4 mt-3">
            <div class="card text-center MyCard">
                <img src="<%=result[i].imgURl%>" class="card-img-top" alt="...">
                <div class="card-header">
                    <h5 class="card-title"><%=result[i].name %> </h5>
                </div>
                <div class="card-body">
                    <p class="card-text"><%=result[i].description%> </p>
                    <a href="/blog-details/<%= result[i].id %>" class="btn btn-primary btn-sm">Read More</a>
                    
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
        </div>
       
        <% } %>
        

    </div>
</div>






<%- include('./footer.ejs') %> 